// expand the height, so that the gradient (body::before)
// can be positioned correctly
html {
    height: auto;
    min-height: 100%;
}

body {
    background: $color-body !important;
    font-family: $font-family;
    position: relative;
    padding: $body-padding;
    font-size: 12px;
    
    // add a slight gradient to the background
    &::before {
        content: '';
        background: linear-gradient(to bottom, $color-body-accent-top 10%, $color-body 85%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -5;
    }
}

.rounded {
    @extend %rounded;
}

// hide:
// - debug info from the bottom of the page
// - whitespace at the bottom of the page
// - reddit redesign opt-in
#hsts_pixel,
.debuginfo,
.redesign-beta-optin {
    @extend %hide;
}
