hr {
    margin: $gutter-size 0;
    border: 0;
    border-top: 2px solid $color-secondary;
}

.side,
.content,
.footer {
    a {
        @extend %text-primary;
    }
}

// markdown
.content .md,
.side .md,
.content,
.side {
    @extend %text-white;
}

[style*="color: red"],
.error {
    color: $color-red !important;
}

.gray {
    @extend %text-muted;
}

.toggle {
    .error {
        font-size: inherit;
    }
}

// thread info paragraphs
.tagline,
.search-result-meta {
    font-size: .75rem;
    margin-bottom: 0;
    line-height: 16px;
    @extend %text-muted;

    .stickied-tagline {
        @extend %text-green;
    }

    .comment.collapsed & {
        &,
        a {
            @extend %text-muted;

            :not(.expand) {
                font-style: normal;
            }
        }
    }
}

// author links
a.author {
    font-weight: bold;
    margin-right: 0;
    @extend %text-primary;

    &.moderator,
    &.submitter {
        &::after {
            content: 'M';
            padding: 1px 3px;
            background: $color-green;
            font-size: 90%;
            margin: 0 0 0 ($gutter-size / 2);
            @extend %half-rounded;
            @extend %text-body;
        }
    }

    &.moderator {
        @extend %text-green;
    }

    &.submitter {
        @extend %text-primary;

        &::after {
            content: 'S';
            background: $color-primary;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}

// [M], [S], [S,M] <- these sort of things next to the username.
// also contains cakeday
.userattrs {
    font-size: 0;

    .cakeday {
        margin: 0 0 0 6px;
        position: relative;
        top: -4px;
    }
}

// NSFW, spoiler and report stamps
.stamp {
    border: none;
    display: inline-block;
    padding: 3px 6px 2px !important;
    font-weight: bold;
    text-transform: uppercase;
    @extend %text-white;
    @extend %half-rounded;

    @include res-nightmode {
        @extend %text-white;
    }
}

.spoiler-stamp {
    background: darken($color-primary, 15%);
}

.nsfw-stamp {
    background: $color-red;
}
