// $header-variant is getting passed in by webpack on runtime

$start: #000 !default;
$end: #000 !default;

$header-logo-shadow: false !default;

@if ($header-variant == 1) {
    $start: #5f5653;
    $end: #293138;
} @else if ($header-variant == 2) {
    $start: #211e19;
    $end: #462519;
} @else if ($header-variant == 3) {
    $start: #523f21;
    $end: #69563d;
} @else if ($header-variant == 4) {
    $start: #383a32;
    $end: #332e21;
} @else if ($header-variant == 5) {
    $start: #2c465d;
    $end: #182e42;
} @else if ($header-variant == 6) {
    $start: #264c4a;
    $end: #152d2a;
} @else if ($header-variant == 7) {
    $start: #264354;
    $end: #172b44;
} @else if ($header-variant == 8) {
    $start: #402424;
    $end: #54211e;
} @else if ($header-variant == 9) {
    $start: #424236;
    $end: #313028;
} @else if ($header-variant == 10) {
    $header-logo-shadow: true;

    $start: #232d1f;
    $end: #17251a;
} @else if ($header-variant == 11) {
    $start: #5f5844;
    $end: #403b34;
} @else if ($header-variant == 12) {
    $start: #384848;
    $end: #232c2f;
} @else if ($header-variant == 13) {
    $start: #202727;
    $end: #21262b;
} @else if ($header-variant == 14) {
    $header-logo-shadow: true;

    $start: #5a4d3c;
    $end: #826d58;
} @else if ($header-variant == 15) {
    $header-logo-shadow: true;

    $start: #063773;
    $end: #7321a9;
} @else if ($header-variant == 16) {
    $header-logo-shadow: true;

    $start: #253756;
    $end: #254167;
} @else if ($header-variant == 17) {
    $start: #1f2127;
    $end: #1d2533;
} @else if ($header-variant == 18) {
    $start: #26262b;
    $end: #2e2440;
} @else if ($header-variant == 19) {
    $start: #3c3556;
    $end: #262358;
} @else if ($header-variant == 20) {
    $start: #554d6d;
    $end: #5e5d8a;
} @else if ($header-variant == 21) {
    $start: #141d2b;
    $end: #494e63;
} @else if ($header-variant == 22) {
    $start: #21212d;
    $end: #262633;
} @else if ($header-variant == 23) {
    $start: #43674b;
    $end: #3e5640;
} @else if ($header-variant == 24) {
    $start: #805b39;
    $end: #7b6f4f;
} @else if ($header-variant == 25) {
    $header-logo-shadow: true;

    $start: #75705d;
    $end: #94866f;
} @else if ($header-variant == 26) {
    $start: #565350;
    $end: #807163;
}

// save these colors to variables, that are then used in _variables.scss
$header-bottom-bg: linear-gradient(to right, rgba($start, .8), rgba($end, .85));
