// colors
$color-white: #fff;
$color-black: #000;
$color-muted: darken(#fff, 25%);
$color-body: #131317;
$color-body-accent-top: lighten(#151b20, 2%);
$color-body-accent-bottom: #28060f;
$color-primary: #e5a544 !default;
$color-secondary: rgba(lighten($color-body, 20%), .65);
$color-green: #44a244;
$color-red: #db3131;

$color-brand-reddit: #ff4500;
$color-brand-wonderstorm: #139feb;

$color-linkflair-wonderstorm: $color-brand-wonderstorm;
$color-linkflair-fan-content: #eb6558;
$color-linkflair-discussion: $color-secondary;
$color-linkflair-announcement: $color-green;

// font settings
$font-family: 'Source Sans Pro', Arial, sans-serif;
$font-family-alt: Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, sans-serif;
$font-family-serif: 'Times New Roman', Georgia, serif;

// general
$gutter-size: 14px;
$body-padding: $gutter-size * 1.5;

$border-radius: 4px;

$transition: all 0.15s cubic-bezier(0.25, 1, 0.2, 1);

$box-shadow: 0 20px 38px rgba(#000, .16);

// header
$header-height: 300px;
$header-color: $color-body;
$header-logo-position: 'left' !default; // available options are: left, center, right

$header-top-height: 22px;

$header-bottom-height: 40px;

// reddit snoo
$snoo-height: $header-bottom-height;
$snoo-width: $icon-reddit-snoo-width + $gutter-size * 2;

// footer
$footer-image-height: 160px;

// content
$content-bg: transparentize($color-secondary, 0.4);

// sidebar
$sidebar-width: 340px + $gutter-size * 2;
$sidebar-bg: $content-bg;

$sidebar-search-height: 40px;

$sidebar-submit-height: 35px;