// add the border back to the thread's container
.comments-page {
    .link {
        border-bottom-width: 1px !important;

        &::after {
            content: none;
        }

        &.self {
            .expando {
                border-top: none;
                margin: 0 0 ($gutter-size - 2px);
                padding: (($gutter-size - 2px) / 2) 0 ($gutter-size - 2px);
                border-bottom: 1px solid $color-secondary;
            }
        }
    }
}