%header-img {
    background: $header-color url(../img/headers/header-#{$header-variant}.jpg) center no-repeat;
    background-size: cover;
    height: $header-height;
}

// header container
// this element contains all of the elements listed in here
#header {
    border-bottom: none;
    z-index: -1;
    margin-bottom: $gutter-size;
    @extend %box-shadow;
    @extend %header-img;
}

// subreddit list above the header
#sr-header-area {
    background: $color-black;
    border: none;
    height: $header-top-height;
    line-height: $header-top-height;
    font-family: $font-family-alt;
    @extend %text-white;
}

.sr-bar a,
.dropdown.srdrop .selected {
    @extend %text-white;
}

// "Edit >>" button on the right side
#sr-more-link {
    background: $color-black;
    border-left: 1px solid $color-secondary;
    @extend %text-white;

    // add a fade out to the text next to this button
    &::before {
        content: '';
        position: absolute;
        left: -11px;
        top: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(to right, rgba($color-black, 0), $color-black);
    }
}

// hide page name
.pagename {
    @extend %hide;
}