%header-img {
    background: $header-color url(../img/headers/header-#{$header-variant}.jpg) center 60% no-repeat;
    background-size: cover;
    height: $header-height;
}

// header container
// this element contains all of the elements listed in here
#header {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1rem 2rem rgba(#000, .3);
    z-index: -1;
    margin-bottom: $gutter-size;
    @extend %header-img;
}

// subreddit list above the header
#sr-header-area {
    background: $color-body;
    border: none;
    height: $header-top-height;
    line-height: $header-top-height;
}

%subreddit-color {
    color: $color-text;
}

.sr-bar {
    a {
        @extend %subreddit-color;
    }
}

.dropdown.srdrop .selected {
    @extend %subreddit-color;
}

#sr-more-link {
    background: $color-body;
    color: $color-text;
    border-left: 1px solid $color-secondary;
}

// menu bar
#header-bottom-left {
    height: $header-bottom-height;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    // add a blurred version of the header picture in the background
    &::before {
        @extend %header-img;
        background-image: url(../img/headers/header-#{$header-variant}-blurry.jpg);
    }

    // overlay the blurred picture with a transparent gradient
    &::after {
        background: $header-bottom-bg;
        top: 0;
    }
}

// hide page name and snoo
.pagename,
#header-img {
    display: none !important;
}