%header-img {
    background: $header-color url(../img/headers/header-#{$header-variant}.jpg) center 60% no-repeat;
    background-size: cover;
    height: $header-height;
}

// header container
// this element contains all of the elements listed in here
#header {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1rem 2rem rgba(#000, .3);
    z-index: -1;
    margin-bottom: $gutter-size;
    @extend %header-img;
}

// subreddit list above the header
#sr-header-area {
    background: $color-body;
    border: none;
    height: $header-top-height;
    line-height: $header-top-height;
}

%subreddit-color {
    color: $color-text;
}

.sr-bar {
    a {
        @extend %subreddit-color;
    }
}

.dropdown.srdrop .selected {
    @extend %subreddit-color;
}

#sr-more-link {
    background: $color-body;
    color: $color-text;
    border-left: 1px solid $color-secondary;
}

// menu bar
#header-bottom-left {
    height: $header-bottom-height;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    // add a blurred version of the header picture in the background
    &::before {
        @extend %header-img;
        background-image: url(../img/headers/header-#{$header-variant}-blurry.jpg);
    }

    // overlay the blurred picture with a transparent gradient
    &::after {
        background: $header-bottom-bg;
        top: 0;
    }
}

// hide page name and snoo
.pagename,
#header-img {
    display: none !important;
}

// make a header logo out of the side reddit name
.redditname {
    position: absolute;
    top: $header-top-height + $body-padding;
    height: $header-height - ($header-top-height + $header-bottom-height);
    right: $gutter-size;
    display: flex;
    align-items: center;
    z-index: 100;
    left: $gutter-size;
    padding: 0 ($gutter-size * 3);

    @if ($header-logo-position == 'left') {
        @if ($header-logo-shadow == 'yes') {
            background: linear-gradient(to right, rgba(#000, 0.3), rgba(#000, 0) 50%);
        }
    } @else if ($header-logo-position == 'center') {
        justify-content: center;
    } @else if ($header-logo-position == 'right') {
        justify-content: flex-end;

        @if ($header-logo-shadow == 'yes') {
            background: linear-gradient(to right, rgba(#000, 0.3), rgba(#000, 0) 50%);
        }
    }

    // create a logo
    a { 
        font-size: 0;
        display: block;
        background: url(../img/sprites/sprite-logo.png) no-repeat;
        width: 450px;
        height: 59px;

        &:hover {
            background-position-y: -59px;
        }
    }
}

// main navigation
.tabmenu {
    margin: 0;
    font-size: 1rem;
    position: absolute;
    left: $gutter-size;
    bottom: 0;
    top: 0;
    line-height: $header-bottom-height;
    @extend %font-family-serif;

    li {
        background: transparent;
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
        float: left;

        a {
            background: transparent;
            padding: 0 $gutter-size;
            color: $color-text;
            display: block;

            &:hover {
                color: $color-primary;
            }
        }

        &.selected {
            a {
                background: transparent;
                border: none;
                color: $color-primary;
                box-shadow: inset 0 -2px 0 $color-primary;
            }
        }
    }
}