.side {
    background: $sidebar-bg;
    width: $sidebar-width;

    // add a space at the top, because search and submit buttons will be always at the top
    // margin: ($gutter-size * 2 + $sidebar-submit-height + $sidebar-search-height) 0 0;
    margin: 0 0 ($body-padding + $footer-image-height);

    padding: $gutter-size;
    border: 1px solid $color-secondary;
    @extend %box-sizing;

    > .spacer {
        margin: 0 0 $gutter-size;

        &:last-child {
            margin-bottom: 0;
        }
    }
}