.side {
    background: $sidebar-bg;
    width: $sidebar-width;
    margin: 0;
    padding: $gutter-size;
    border: 1px solid $color-secondary;

    > .spacer {
        margin: 0 0 $gutter-size;
    }
}