.expando-button {
    &.collapsed {
        &.expando-button-requires-permission {
            &::before {
                @include sprite-position($icon-expando-lock);
            }

            &::after {
                @include sprite-position($icon-expando-lock-alt);
            }
        }

        &.image {
            &::before {
                @include sprite-position($icon-expando-image);
            }

            &::after {
                @include sprite-position($icon-expando-image-alt);
            }

            &.gallery {
                &::before {
                    @include sprite-position($icon-expando-album);
                }

                &::after {
                    @include sprite-position($icon-expando-album-alt);
                }
            }
        }

        &.video-muted {
            &::before {
                @include sprite-position($icon-expando-gif);
            }

            &::after {
                @include sprite-position($icon-expando-gif-alt);
            }
        }
    }

    // expando button inside the body
    span.res-freetext-expando & {
        transform: none;
        margin-left: 4px !important;
        position: relative;
        bottom: -1px;
    }

    .res-showImages-highlightSpoilerButton .thing.spoiler .title ~ & {
        &.collapsed {
            background: $color-primary;
        }

        &::before {
            @extend %sprite-image;
        }
    }
}
