// Never Ending Reddit

%reset-ner {
    background: $color-secondary;
    border-radius: 0;
    border-color: $color-secondary;
}

// 
div.NERPageMarker {
    margin: 0;
    border-bottom: none;
    @extend %reset-ner;
}

// spinny boy
div#progressIndicator {
    @extend %reset-ner;
}
