.res-commentBoxes {
    &.res-commentBoxes-rounded {
        .comment {
            overflow: visible;
            border-radius: 0 !important;
            border: 1px solid $color-secondary !important;
            margin: 0 0 $gutter-size !important;

            &.new-comment {
                &.res-selected {
                    border-color: rgba($color-primary, .7) !important;
                }
            }
        }
    }
}


.res-commentBoxes.comment-permalink-page .commentarea > .sitetable > .comment.res-selected {
    border-color: rgba($color-primary, .7) !important;
}
