a.RESUserTagImage {
    margin: 0 0 0 2px;
    opacity: 0.5;
    @extend %transition;

    &:hover {
        opacity: 1;
    }

    &::after {
        @extend %text-primary;

        .link & {
            @extend %text-muted;
        }
    }

    .parent & {
        margin: 0 3px 0 -5px;
    }
}

a.voteWeight {
    background: $color-secondary !important;
    font-weight: bold;
    padding: 3px 5px;
    font-size: .9em;
    color: $color-primary !important;
    margin-left: ($gutter-size / 2);
    @extend %half-rounded;
}
