// controls on the top right
div#RESShortcutsSort,
div#RESShortcutsRight,
div#RESShortcutsLeft,
div#RESShortcutsAdd,
div#RESShortcutsEditContainer {
    height: $header-top-height;
    line-height: $header-top-height;
    background: transparent;
    @extend %text-primary;
}

div#srLeftContainer,
div#RESShortcutsViewport,
div#RESShortcutsEditContainer {
    max-height: $header-top-height;
}

// subreddit dropdown menu
#srList {
    top: ($body-padding + $header-top-height);
    left: $body-padding;
}
