.res {
    a.author {
        &.moderator,
        &.submitter,
        &.friend {
            color: $color-body !important;
            padding: 0 3px;

            &::after {
                content: none;
            }

            &:hover {
                color: $color-white !important;
            }
        }

        &.moderator {
            background: $color-green !important;

            &:hover {
                background: darken($color-green, 15%) !important;
            }
        }

        &.submitter {
            background: $color-primary !important;

            &:hover {
                background: darken($color-primary, 15%) !important;
            }
        }
    }

    .collapsed .tagline,
    .collapsed .crosspost-preview-tagline {
        .author {
            &.moderator,
            &.submitter,
            &.friend {
                &:not(:hover) {
                    color: $color-body !important;
                }
            }
        }
    }
}
