// used in threads and comments
.thing {
    // stickied threads
    &.stickied.link {
        border-bottom-width: 0;

        &,
        &.last-clicked::after {
            border-color: rgba($color-green, .3);
        }

        &.last-clicked {
            border-color: rgba($color-green, .5);
        }

        + .clearleft {
            + .stickied {
                border-bottom-width: 1px;

                &::after {
                    content: none;
                }
            }

            + .link {
                // add a space
                &.stickied {
                    margin-bottom: $gutter-size;
                }
            }
        }

        // change background color for up/down-votes
        .midcol {
            background: rgba($color-green, .15);
        }

        // change the title color of the stickied threads
        a.title {
            @extend %text-green;

            &:hover {
                color: lighten($color-green, 10%);
            }
        }

        &.linkflair-official-wonderstorm {
            background-image: url(../img/thread/thread-wonderstorm.png);
        }
    }

    // spoiler-tagged threads
    &.spoiler,
    &.nsfw,
    &.linkflair-official-wonderstorm {
        position: relative;

        // add an accented background for these threads
        &::before {
            content: '';
            background: linear-gradient(to left, rgba($color-primary, .08), rgba($color-primary, 0) 75%);
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }

    // differentiate NSFW posts from the ones marked as spoilery
    &.nsfw {
        &::before {
            background: linear-gradient(to left, rgba($color-red, .1), rgba($color-red, 0) 75%);
        }
    }

    &.linkflair-official-wonderstorm {
        &::before {
            background: linear-gradient(to left, rgba($color-brand-wonderstorm, .07), rgba($color-brand-wonderstorm, 0) 75%);
        }
    }
}