.linkflairlabel {
    background: $color-linkflair-discussion;
    color: $color-primary;
    padding: 2px 5px;
    border: none;
    font-size: 0.8rem;
    max-width: none;
    font-weight: bold;
    margin: 0 round($gutter-size / 1.5) -3px 0;

    .linkflair-official-wonderstorm &,
    .linkflair-wonderstorm & {
        background: $color-linkflair-wonderstorm;
        @extend %text-body;
    }

    .linkflair-fan-content & {
        background: $color-linkflair-fan-content;
        @extend %text-body;
    }

    .linkflair-announcement & {
        background: $color-linkflair-announcement;
        @extend %text-body;
    }
}