.thing {
    // there are 2 elements with this class, inside one another
    // p.title and a.title (p.title > a.title)
    p.title {
        line-height: 1.1;
        display: flex;
        align-items: center;
        margin-bottom: round($gutter-size / 2);
    }

    a.title {
        color: $color-primary;
        font-size: 1.2rem;
        @extend %font-family-serif;

        &:hover {
            color: saturate(lighten($color-primary, 15%), 10%);
        }

        &:visited {
            color: desaturate(darken($color-primary, 20%), 20%);

            &:hover {
                color: desaturate(darken($color-primary, 10%), 10%);
            }
        }
    }

    // stickied threads
    &.stickied.link {
        border-color: rgba($color-green, .3);

        + .clearleft + .link {
            &:not(.stickied) {
                border-top-width: 1px;
            }

            // add a space
            &.stickied {
                margin-bottom: $gutter-size;
            }
        }

        // change background color for up/down-votes
        .midcol {
            background: rgba($color-green, .15);
        }

        // change the title color of the stickied threads
        a.title {
            color: $color-green;

            &:hover {
                color: lighten($color-green, 10%);
            }
        }
    }
}