.infobar {
    margin: $gutter-size 0;
    background: rgba($color-primary, .1);
    border-color: rgba($color-primary, .4);
    color: $color-white;

    &,
    .formtabs-content & {
        padding: ($gutter-size / 2) $gutter-size;
    }

    .formtabs-content & {
        margin: 0 0 $gutter-size;
    }

    a:hover {
        @extend %anchor-link:hover;
    }

    // usually, this is reddit's ad for stuff like new reddit and the "Welcome to Reddit" banner
    // but also, this class is added to #searchexpando for some reason, so be careful with the changes you make
    &.listingsignupbar {
        margin: 0 0 $gutter-size !important;
        // lower the opacity of 
        opacity: 0.8;
    }

    &.commentsignupbar {
        margin: $gutter-size 0 !important;
        padding: 0;
    }
}

// "This post is locked" bar
.reddit-infobar {
    margin-bottom: $gutter-size;
    @extend .infobar;

    .content > & {
        margin: $gutter-size;
    }

    &.with-icon {
        &::before {
            background-color: rgba(#ffd634, .7);
        }
    }

    .md {
        @extend %text-white;
    }
}
