// used in threads and comments
.link,
.comment {
    position: relative;
    @extend %container;

    &.stickied.thing {
        // change border color of the thread
        &,
        &.last-clicked::after {
            border-color: rgba($color-green, .45) !important;
        }

        + .clearleft + .link {
            .parent {
                border-top-color: rgba($color-green, .5);
            }

            &:not(.stickied) {
                .parent {
                    border-bottom-width: 1px;
                    padding-bottom: $gutter-size;
                }
            }
        }

        // make the border color lighter
        &.last-clicked {
            border-color: rgba($color-green, .8) !important;
        }
    }
}

.thing {
    .entry {
        overflow: visible;
        margin: 0;
    }

    // there are 2 elements with this class, inside one another
    // p.title and a.title (p.title > a.title)
    p.title,
    .search-result-header {
        line-height: 1.1;
        margin: 0 $gutter-size round($gutter-size / 2) 0;
        @extend %text-primary;
    }

    a.title,
    a.search-title,
    .flairselector a.title {
        font-size: 1.2rem !important;
        @extend %font-family-serif;
        @extend %anchor-link;
    }

    &.visited {
        .title {
            @extend a.title:visited;
        }
    }

    // blur potentially spoilery titles
    &:not([class*="discussion"]),
    &.spoiler {
        @include no-spoiler('.listing-page') {
            .title {
                overflow: visible;
            }

            &.stickied {
                a.title {
                    text-shadow: 0 0 1.5em $color-green;
                }
            }

            a.title {
                color: transparent;
                text-shadow: 0 0 1.5em $color-primary;
                transition: all .5s ease;

                &:hover {
                    color: inherit;
                    text-shadow: none;
                }
            }
        }
    }
}

.clearleft + .clearleft {
    @extend %hide;
}
