.link {
    background: $sidebar-bg;
    padding: 0;
    border: 1px solid $color-secondary;
    border-top-width: 0;
    margin: 0;
    display: flex;

    &:first-of-type {
        border-top-width: 1px;
    }

    > * {
        margin: 0;
        flex-shrink: 0;
    }

    .entry  {
        flex-grow: 1;
        flex-shrink: 1;
        padding: $gutter-size 0;
    }

    // hide the order number
    .rank {
        display: none;
    }

    // 
    .midcol {
        margin: 0;
        padding: $gutter-size 4px;
        background: transparentize($color-secondary, .35);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // add a space between the score of the post and arrows
    .score {
        margin: 4px 0;
    }

    // hide user flair
    .flair {
        display: none;
    }

    // stylize author of the thread
    .author {
        font-weight: bold;
        color: darken($color-text, 25%);
    }
}

// thread approval checkmark,
// which is visible on to the moderators of the subreddit
// .approval-checkmark {
//     filter: brightness(1.5);
// }

// thread thumbnails
.thumbnail {
    margin: 10px $gutter-size;
    width: 70px;
    height: 70px;
    border-radius: $border-radius;
    align-self: center;

    // add a sligthly visible outline to the image
    &:not(.self):not(.spoiler)::after {
        content: '';
        position: absolute;
        border-radius: $border-radius;
        box-shadow: inset 0 0 0 1px rgba(#fff, .1);
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// this is the "(self.subreddit)" thing you see after each thread's title
.domain {
    display: none;
}