.comment {
    flex-wrap: wrap;
    @extend %flexbox;

    &,
    body.res-commentBoxes.res-commentBoxes-rounded & {
        padding: $gutter-size 0 $gutter-size round($gutter-size * 1.25 + $gutter-size) !important;
        margin: 0 0 $gutter-size;
        border-radius: 0 !important;

        &.collapsed {
            padding: ($gutter-size / 2) 0 ($gutter-size / 2) round($gutter-size * 1.25 + $gutter-size) !important;
        }

        // change the background color of every odd/even child comment
        .comment,
        .comment .comment .comment,
        .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment {
            background: lighten($color-body, 1%) !important;

            .comment {
                background: $content-bg !important;
            }
        }
    }

    &.thing.spam {
        z-index: 10;

        &::before,
        &::after {
            content: '';
            background: $color-body;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        &::after {
            background: rgba($color-red, .15);
        }
    }

    // change border color of a permanently-linked comment
    &.thing.new-comment,
    .comment-permalink-page .commentarea > .sitetable > & {
        border-color: rgba($color-primary, .4) !important;
    }

    // reply container
    .child,
    .showreplies,
    .morechildren {
        border: none;
        margin: 0;

        .comment {
            margin-top: $gutter-size !important;
            border-right-width: 0 !important;

            &:nth-last-child(2) {
                margin-bottom: 0 !important;
            }
        }
    }

    // time at which the comment was made
    time {
        opacity: .5;
    }

    // force child comments to be on a new row
    .child,
    .showreplies,
    .entry {
        flex: 1 0 80%;
    }

    .child {
        > .usertext {
            margin: $gutter-size 0 0 ($gutter-size * 2);
        }
    }

    // "load more comments" button
    .morechildren {
        margin: $gutter-size $gutter-size 0 0;

        a {
            @extend %rounded-button;

            * {
                @extend %transition;
            }

            &:hover * {
                @extend %text-body;
            }
        }
    }

    // adjust upvote/downvote arrow container
    .midcol {
        background: transparent !important;
        padding: 8px $gutter-size 0 0;
    }

    // move expand/collapse button to the left and in full height
    .expand {
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        width: round($gutter-size * 1.25);
        text-align: center;
        padding: 0;
        color: rgba($color-muted, .6) !important;
        font-size: 0;

        &::before,
        &::after {
            content: '';
            display: block;
            border-top: 1px solid;
            width: ($gutter-size / 2);
            height: 0;
            position: absolute;
            left: 0;
            top: $gutter-size;
            right: 0;
            margin: auto;
        }

        &::after {
            content: none;
            transform: rotate(90deg);
        }

        &:hover {
            background: $color-primary;
            text-decoration: none;
            color: $color-body !important;
        }
    }

    // so far it seems like this only has something inside it on the "Reports" page
    // and it contains some info about the thread comments was made in
    .parent {
        flex-basis: 100%;

        .flair {
            @extend %hide;
        }

        .author {
            margin-left: 0;

            &::before {
                content: none;
            }
        }

        .title {
            margin-bottom: $gutter-size;
        }

        // add a space at the bottom
        .subreddit {
            &::after {
                content: '';
                clear: both;
                display: table;
                margin-bottom: $gutter-size;
            }
        }
    }

    .link + .clearleft + & {
        margin-top: $gutter-size;
    }

    // add a space on the left for comment and button list
    .usertext,
    .buttons {
        padding-left: $user-flair-default-width + $gutter-size;
    }

    // adjust button list
    .buttons {
        margin-left: -7px;
    }

    // remove the default padding from comment's body
    .usertext-body {
        background: transparent;
        border: none;
        padding: 0 !important;
    }

    .usertext {
        // deleted comment
        &.grayed {
            .usertext-body {
                background: transparent;

                .md {
                    color: $color-muted;
                }
            }
        }

        // permalinked comment
        &.border {
            .usertext-body {
                background: transparent;
            }
        }
    }

    // hide upvote/downvote arrow container for deleted or collapsed comments
    &.deleted,
    &.collapsed {
        > .midcol {
            @extend %hide;
        }
    }

    // deleted comment
    &.deleted {
        // remove unnecessary padding
        > .entry {
            .usertext,
            .buttons {
                padding-left: 0;
            }
        }
    }

    // collapsed comment
    &.collapsed {
        font-style: normal;

        // hide user flair
        .author {
            margin-left: 0;

            &::before {
                content: none;
            }
        }

        .tagline {
            line-height: 1;
            margin-top: 3px;
        }

        .expand {
            &:not(:hover) {
                background: $content-bg;
            }

            &::before,
            &::after {
                content: '';
                top: 0;
                bottom: 0;
            }
        }
    }
}
