// field placeholders
::-webkit-input-placeholder {
    color: rgba(lighten($color-secondary, 20%), 1);
    opacity: 0.8;
}

// text input fields
.side input {
    &[type="text"],
    &[type="password"] {
        @extend %text-field;

        &:focus {
            &::-webkit-input-placeholder {
                opacity: 0.6;                
            }
        }
    }
}

.roundfield,
.linefield,
.pretty-form {
    input[type="text"],
    input[type="file"],
    textarea {
        margin-left: 0;
        @extend %text-field;
    }
}

.roundfield {
    input[type="url"] {
        @extend %text-field;
    }
}

.wiki-page .wiki-page-content #wiki_revision_reason {
    @extend %text-field;
}

.md-container,
.usertext {
    textarea {
        height: 125px;
        @extend %text-field;
    }
}

.roundfield,
.linefield,
.pretty-form,
.comment-visits-box {
    select {
        @extend %select;
    }
}

.gadget .right a,
.usertext button,
.tabpane-content button,
a.helplink,
.wiki-page .wiki-page-content .wiki_button,
.btn {
    margin: 0;
    @extend %rounded-button;
}

.toggle .option {
    &.active {
        display: inline-block;
    }
}

.usertext .help-toggle,
.usertext a.redditquette {
    margin: 0 0 0 ($gutter-size / 2);
}

button + button {
    margin-left: ($gutter-size / 2) !important;
}
