// menu bar
#header-bottom-left {
    height: $header-bottom-height;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }

    // add a blurred version of the header picture in the background
    &::before {
        background-image: url(../img/headers/header-#{$header-variant}-blurry.jpg);
        @extend %header-img;
    }

    // overlay the blurred picture with a transparent gradient
    &::after {
        background: $header-bottom-bg;
        top: 0;
    }
}

// main navigation
.tabmenu {
    margin: 0;
    font-size: 1rem;
    left: $snoo-width;
    bottom: 0;
    top: 0;
    line-height: $header-bottom-height;
    @extend %font-family-serif;

    #header & {
        position: absolute;
    }

    li {
        background: transparent;
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
        float: left;

        a {
            background: transparent;
            padding: 0 $gutter-size;
            display: block;
            @extend %text-white;

            &:hover {
                @extend %text-primary;
            }
        }

        &.selected {
            a {
                background: transparent;
                border: none;
                box-shadow: inset 0 -2px 0 $color-primary;
                @extend %text-primary;

                @include res-nightmode {
                    @extend %text-primary;
                }
            }
        }

        a,
        &.selected a {
            @include res-nightmode {
                background: transparent;
            }
        }
    }
}

// reddit snoo
#header-img {
    @extend %hide;

    &.default-header {
        background: transparent;
        width: $snoo-width;
        height: $snoo-height;
        margin: 0;
        font-size: 0;
        justify-content: center;
        @extend %flexbox-center;

        &::before {
            content: '';
            display: block;
            @include sprite($icon-reddit-snoo);
        }
    }
}
