// make a header logo out of the side reddit name
.redditname {
    position: absolute;
    top: $header-top-height + $body-padding;
    height: $header-height - ($header-top-height + $header-bottom-height);
    right: $gutter-size;
    display: flex;
    align-items: center;
    z-index: 100;
    left: $gutter-size;
    padding: 0 ($gutter-size * 3);

    @if ($header-logo-position == 'left') {
        @if ($header-logo-shadow == 'yes') {
            background: linear-gradient(to right, rgba(#000, 0.3), rgba(#000, 0) 50%);
        }
    } @else if ($header-logo-position == 'center') {
        justify-content: center;
    } @else if ($header-logo-position == 'right') {
        justify-content: flex-end;

        @if ($header-logo-shadow == 'yes') {
            background: linear-gradient(to right, rgba(#000, 0.3), rgba(#000, 0) 50%);
        }
    }

    // create a logo
    a { 
        font-size: 0;
        display: block;
        background: url(../img/sprites/sprite-logo.png) no-repeat;
        width: 450px;
        height: 59px;

        &:hover {
            background-position-y: -59px;
        }
    }
}