// make a header logo out of the reddit name, located in the sidebar

.redditname {
    background: transparent !important;
    position: absolute;
    top: $header-top-height + $body-padding;
    height: $header-height - ($header-top-height + $header-bottom-height);
    right: $body-padding;
    z-index: 100;
    left: $body-padding;
    font-size: 0 !important;

    // create a logo
    a { 
        height: 100%;
        padding: 0 ($gutter-size * 3);
        display: inline-flex;
        align-items: center;

        @if ($header-logo-position == 'left' and $header-logo-shadow == true) {
            background: linear-gradient(to right, rgba(#000, 0.3) 10%, rgba(#000, 0) 80%);
        } @else if ($header-logo-position == 'center') {
            justify-content: center;
        } @else if ($header-logo-position == 'right') {
            justify-content: flex-end;

            @if ($header-logo-shadow == true) {
                background: linear-gradient(to right, rgba(#000, 0.3) 10%, rgba(#000, 0) 80%);
            }
        }

        &::after {
            content: '';
            display: block;
            @include sprite-position($logo);
            @include sprite-width($logo);
            @include sprite-height($logo);
            @extend %sprite-image;
        }

        &:hover {
            &::after {
                @include sprite-position($logo-hover);
            }
        }
    }

    @include res-nightmode('.side .spacer .titlebox') {
        background-color: transparent;
    }
}
