%list-rounded-button {
    opacity: 1;
    padding: 3px 10px;
    @extend %rounded-button;
}

// used in footer and "moderation tools" widget
.flat-vert {
    &.title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: $gutter-size;
        @extend %text-white;
    }

    li {
        margin: 0;
    }

    .choice {
        background: transparent;
        padding: 5px 8px 5px 0;
        @extend %flexbox-center;
        @extend %transition;
        @extend %rounded;

        &:hover {
            text-decoration: none;
            padding-left: 8px;
            background: rgba($color-primary, 0.15);
        }
    }
}

// used in threads and comments
.buttons {
    .stamp {
        margin-right: ($gutter-size / 2);
        
        &.reported-stamp {
            margin-left: ($gutter-size / 2);
        }
    }

    .entry & {
        padding: 2px 0 0;

        li {
            line-height: inherit;
            padding-right: 0;
            color: $color-muted;

            + li {
                padding-left: 1px;
            }

            &.reported-stamp {
                border: none !important;
                @extend .nsfw-stamp;
            }

            &:not(.stamp) {
                @extend %text-size-md;
            }

            > a,
            .toggle .togglebutton,
            &.toggle a,
            .state-button a,
            .redditSingleClick::after {
                @extend %toggle-button;
            }

            > a,
            > form,
            .redditSingleClick {
                opacity: .3;
                transition: $transition;
            }

            > form {
                vertical-align: middle;
                display: inline-block;
            }

            a {
                &.give-gold {
                    color: $color-gold;

                    &:hover {
                        border-color: rgba($color-gold, .3);
                        color: lighten($color-gold, 10%);
                    }
                }
            }

            // removal reason
            &[title*="removed"] > b {
                color: $color-red;
                margin: 0 ($gutter-size / 2);
            }

            .option.error.active {
                border: 1px solid rgba($color-red, .4);
                padding: 2px ($gutter-size /2);
                border-radius: ($border-radius / 2);
            }

            .link & {
                // "X comments" button
                &.first {
                    &:not(.flairsample-left) {
                        padding-right: ($gutter-size / 2);
                    }

                    > a {
                        @extend %list-rounded-button;
                    }
                }
            }

            .comment & {
                &.reply-button {
                    float: left;
                    padding: 0 ($gutter-size / 2);

                    > a {
                        @extend %list-rounded-button;
                    }
                }
            }
        }

        &:hover {
            > li > a,
            > li > form,
            .redditSingleClick {
                opacity: 1;
            }
        }
    }
}

// mod buttons
.pretty-button {
    margin: 0 1px 0 0;

    &.access-required {
        background: transparent;
        @extend %toggle-button;

        &.pressed {
            background: $color-secondary;
            font-weight: bold;
        }
    }

    &.negative {
        color: $color-red;

        &:hover {
            border-color: rgba(lighten($color-red, 10%), .2);
            color: lighten($color-red, 10%);
        }

        &.pressed {
            background: rgba($color-red, .4);
        }
    }

    &.positive {
        color: $color-green;

        &:hover {
            border-color: rgba(lighten($color-green, 15%), .2);
            color: lighten($color-green, 15%);
        }

        &.pressed {
            background: rgba($color-green, .4);
        }
    }
}

// contains mod buttons
.big-mod-buttons {
    float: right;
    opacity: .35;
    background: rgba($color-black, .5);
    padding: 4px $gutter-size 4px 4px;
    margin: -4px -5px -4px -4px;
    border-radius: $border-radius 0 0 $border-radius;
    @extend %transition;

    .link & {
        margin-right: (-$gutter-size);
    }

    .buttons:hover & {
        opacity: 1;
    }
}

ul.report-reasons {
    border-radius: 0;
    padding: ($gutter-size / 2) $gutter-size;
    line-height: 1.4;
    margin-top: $gutter-size / 2;
    @extend %container;

    li {
        &.report-reason-title {
            @extend %text-primary;
            padding: 0;
        }
    }

    // hide the next list item when reports are visible
    &[style*="block"] {
        + li {
            @extend %hide;
        }
    }
}
