// reddit premium's banner
// make it blend in with the rest of the theme
.premium-banner-outer {
    margin: (-$gutter-size);
    margin-bottom: $gutter-size;
}

.premium-banner {
    border-top: 1px solid $color-secondary;
    border-bottom: 1px solid $color-secondary;

    // hide the default border frame
    &::before {
        content: none;
    }
}
