#search {
    margin: (-$gutter-size) (-$gutter-size) 0;
    border-bottom: 1px solid $color-secondary;
    position: relative;
    // width: $sidebar-width;

    input {
        &[type="text"] {
            padding: $gutter-size;
            height: $sidebar-search-height;
            border-bottom: none;
            @extend %input-field;

            &:focus {
                @extend %input-field-focus;
            }
        }

        &[type="submit"] {
            margin-left: -$gutter-size * 2;
        }
    }
}

// this pop up after the user focuses search text field
#searchexpando {
    background: $color-primary;
    position: absolute;
    left: -1px;
    right: -1px;
    margin-top: 0;
    z-index: 100;
    border: none;
    opacity: 1;
    border-radius: 0;
    box-shadow: $box-shadow;
}