// "Create your own subreddit" subtitles
.sidebox {
    background: transparent !important;

    .spacer {
        @extend %hide;
    }

    &.create {
        margin: 0 (-$gutter-size);
        padding: 0 $gutter-size $gutter-size;
        border-bottom: 1px solid $color-secondary;
    }
}
