%rounded-button {
    background: rgba($color-primary, .2);
    border: none;
    padding: 5px 15px;
    border-radius: 2rem;
    font-weight: normal;
    font-size: 0.8rem;
    @extend %transition;
    @extend %text-primary;

    &:hover {
        background: $color-primary;
        @extend %text-white;
        @extend %box-shadow;
    }
}

// (un)subscribe button
.fancy-toggle-button {
    // button
    .add,
    .remove {
        @extend %rounded-button;
    }
}

.res-fancy-toggle-button {
    @extend %rounded-button;
}