// (un)subscribe button
.fancy-toggle-button {
    .active {
        border: none;
        padding: 5px 15px;
        border-radius: 2rem;
        font-weight: normal;
        font-size: 0.8rem;
        @extend %transition;
    }

    // subscribe
    .add {
        background: rgba($color-primary, .2);
        color: $color-primary;

        &:hover {
            background: $color-primary;
            color: $color-text;
            @extend %box-shadow;
        }
    }

    // unsubscribe
    // .remove {

    // }
}