.submit-text,
.submit-link {
    position: absolute;
    top: ($body-padding + $header-height + $gutter-size * 2);
    right: $body-padding + $gutter-size;
    width: ($sidebar-width / 2 - $gutter-size - $gutter-size / 2);
}

.submit-link {
    margin-right: ($sidebar-width / 2 - $gutter-size / 2);
}